.weather-container{
  height: 100%;
}

.weather-app {
  width: 100%;
  margin: 0;
  height: 100%;
}

.weather {
  display: flex;
  height: 100%;
  text-align: center;
}

.loader {
  background: url('/images/loader.svg') no-repeat;
  height: 38px;
  width: 38px;
  margin: 0 auto;
  position: relative;
  top: 50%;
}
